<div class="container custom-container-2">

  
    <div class="no-data text-center" *ngIf="client.length == 0">
    <p>There is no client added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-client">Add client</button>
  </div>

  <div *ngIf="client.length !== 0">
    <h3 class="mb-3 text-center">Clients List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Action</th>
            <th scope="col">Account</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let c of client">

            <td>{{c.lastName}}</td>
            <td>{{c.firstName}}</td>
            <td >
                
              <button class="btn btn-light" routerLink="/client-show/{{c.id}}">View</button>
              <button class="btn btn-secondary" routerLink="/client-edit/{{c.id}}">Edit</button>
              <button class="btn btn-danger" (click)="deleteClient(c.id)">Delete</button>
              
            </td>
            <td>
              <button class="btn btn-info mr-1" routerLink="/account-show/{{c.id}}">CurrentAccount</button>
              <button class="btn btn-info mr-1" routerLink="/account-saving-show/{{c.id}}">SavingAccount</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>